<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="article">
    <div class="header">
        <img src="{% static 'img/dpb-logo.png' %}" alt="Логотип" />
    </div>
    <div class="content">
        <h1>{{ post.title }}</h1>
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
        </div>
        <p class="article-text">{{ post.text }}</p>
        <a href="{% url 'archive' %}">← Все записи</a>
    </div>
</body>
</html>